<html>
<body>
<div class="backimage">


<div class="container-fluid">
    <div class="row youtube">
        <div class="col-sm-4 col-xs-4">
            <iframe width="455" height="315" src="https://www.youtube.com/embed/hZSrzL-kb38" frameborder="0"
                    allowfullscreen></iframe>
        </div>
        <div class="col-sm-4 col-xs-4">
           <img style="margin:auto;width:auto;height:300px; margin-left: 20px;" src="{{ asset('images/inde.jpg') }}">
        </div>
        <div class="col-sm-4 col-xs-4" style="margin-left: 0px;">
            <iframe width="455" height="315" src="https://www.youtube.com/embed/uOHDkIxyu2A" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6 col-lg-offset-4">
            <iframe width="455" height="315" src="https://www.youtube.com/embed/P22gcb4YHso" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
</div>
</div>
</body>

</html>