<div style="height:400px;" id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item"><img style="margin:auto;width:auto;height:350px;" src="{{ asset('images/inde.jpg') }}"> </div>
        <div class="item"><img style="margin:auto;width:auto;height:350px;" src="{{ asset('images/japon.jpg') }}"></div>
        <div class="item"><img style="margin:auto;width:650px;height:380px;" src="{{ asset('images/maroc.jpg') }}"></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
