/*=============================*\
		   STYLE GLOBAL
\*=============================*/
html {
	min-height: 100vh;
}
body {
	min-height: 100vh;
	background-color: #FEFCFF;
}
.wrapper {
	position: relative;
	min-height: 100vh;
	padding: 0 !important;
}
.wrapper > nav + div {
	padding: 30px 0 ;
}
/* Class qui supprime les marges negative de bootsrap */
.marg-row {
	margin: 0 !important;
}
/* Class qui supprime les paddings de bootsrap */
.padd-row {
	padding: 0 !important;
}

/*=============================*\
		  MENU ACCUEIL
\*=============================*/
nav.navbar-default {
	height: 70px;
	background-color: #F4D35D;
	padding: 0 ;
	margin: 0;
	border: none;
	border-radius: 0;
	border-bottom: solid #3B3C3D 4px;
	border-top: solid #3B3C3D 1px;
}
nav > div.container-fluid {
	height: 100%;
	margin-bottom: 0;
	margin-top: 0;
	padding-right: 0;
	padding-left: 0;
}
nav > div > div.navbar-header {
	height: 100%;
	width: auto;
	margin: 0 !important;
}
.navbar-header button {
	margin: 15.5px 20px;
}
nav > div > div.navbar-header a{
	display: block;
	margin: 8px 0 !important;
}
nav > div > div >.nav-logo {
	padding: 0px 40px;
}
#navbar {
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
	border-top: none !important;
}
#navbar > ul.nav {
	margin: 0 !important;
}
#navbar > ul.nav,
#navbar > ul.nav > li {
	height: 100%;
}
#navbar > ul.nav > li > a {
	display: inline-block;
	height: 100%;
	line-height: 65px;
	padding: 0 30px;
	color: #3B3C3D !important;
	font-size: 1.2em;
}
#navbar > ul.nav > li > a span {
	margin-right: 10px;
}
#navbar > ul.nav > li > a:hover {
	color: #ECF0F1 !important;
	background-color: #3B3C3D !important;
}
/*============================*\
		    CAROUSEL
\*============================*/
html {
    position: relative;
    min-height: 100%;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel {
    z-index: 999;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}
/*=============================*\
		     FOOTER
\*=============================*/
footer.container-footer {
	position: absolute;
	margin-top: 100px;
	top: calc(100% - 58px);
	width:100%;
	background-color: #F4D35D ;
	border-top: solid #3B3C3D 4px;
}
footer.container-footer div.footer {
	text-align: center;
	padding-top: 14px;
	padding-bottom: 10px;
}
footer.container-footer div.footer .footer-copyright {
	font-weight: bold;
	letter-spacing: 0.1em;
}
/*=============================*\
		     LOGIN
\*=============================*/
.wrapp-login {
	margin: 0 !important;
}
form.form-login {
	margin-top: 80px;
}
.login {
	width: 100%;
	background-color: #F4D35D;
	color: #000000;
	border: 1px #000000 solid;
}
.remember-me {
	width: 100%;
	height: 34px;
	line-height: 32px;
	margin: 0;
	padding-left: 20px;
	border: #D1D5D8 1px solid;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
/*=============================*\
		    MESSAGE
\*=============================*/
.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}
.chat-body h4 {
	line-height: 50px;
	margin: 0 0 0 40px;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}
.panel-footer {
	background-color: #c6d733 !important;
}
.panel-body {
	border-right: solid 3px #fba41f;
	border-left: solid 3px #fba41f;
	border-top: solid 3px #fba41f;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

body{
	background-image: url("../images/surf.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}